.odd {
  background-color: #ffc0cb;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#num2id {
  color: #0000ff;
  font-size: 36px;
}

.cooler {
  font-size: 24px;
}

#num4id {
  background-color: #90ee90;
  font-size: 24px;
  font-weight: bold;
}
